<div class="header">
    <nz-affix [nzOffsetTop]="10">
        <div class="aff_c w100">
            <div class="aff">
                <div (click)="changeTo()">
                  <img src="/assest/image/logo.png" />
                </div>
          
                <div class="menu" (click)="openMenu()">
                  <div class="wrapper">
                    <img src="/assest/image/menu.png" />
                  </div>
                </div>
              </div>
        </div>
    
      </nz-affix>

      <div class="w100 h100 title">
        <div class="text">Dịch vụ</div>
      </div>



</div>
<div nz-row [nzGutter]="[30,30]" class="container">
    @for (item of services; track $index) {
        @if ( $index % 2 === 0) {
            <div nz-col nzSpan="12">
              <video controls class="w100">
                <source [src]="item.url" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
            <div nz-col nzSpan="12" class="ct_m">
                <div class="ct">
                    <div class="title_x">DỊCH VỤ</div>
                    <div class="title_name">{{item.name}}</div>
                    <div class="title_text">{{item.des}}</div>
                    <div class="button" style="padding-top: 50px;">
                        <button class="drone_button" (click)="changeToProject()">
                          Bắt đầu dự án
                        </button>
                      </div>
                </div>


            </div>
        } @else {

            <div nz-col nzSpan="12" class="ct_m">
                <div class="ct">
                    <div class="title_x">DỊCH VỤ</div>
                    <div class="title_name">{{item.name}}</div>
                    <div class="title_text">{{item.des}}</div>
                    <div class="button" style="padding-top: 50px;">
                        <button class="drone_button" (click)="changeToProject()">
                          Bắt đầu dự án
                        </button>
                      </div>
                </div>
            </div>
            <div nz-col nzSpan="12">
              @if(item.url){
                <video controls class="w100">
                  <source [src]="item.url" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              } @else {
                <app-yt-player [videoID]="item.videoId"></app-yt-player>
              }
            </div>
        }
    }
</div>  


 @defer (on viewport) {
    <app-start id="app-start" class="scrollable"></app-start>
    } @placeholder {
    <p></p> }