.header {
    background-image: url('/assest/image/bg_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
height: 562px;

}

.view_icon {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 30px 0px;
}

.text_view {
    font-family: Inter;
font-size: 17px;
font-weight: 900;
line-height: 20.57px;
letter-spacing: 0.07em;
text-align: left;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
font-size: 60px;
font-weight: 700;
line-height: 48px;
text-align: center;
color: #FFFFFF;

}

.aff {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.title_x {
    font-family: Inter;
font-size: 17px;
font-weight: 900;
line-height: 20.57px;
letter-spacing: 0.07em;
text-align: left;
color: #F8F8F8;
padding-bottom: 20px;

}

.border-imaged-element {
    max-width: 50%;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to right, #13a338 0%, #1f3876 100%
      ) 0 0 100% 0;
  }


.title_name {
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.07em;
    text-align: left;
    color: white;
    padding-bottom: 20px;
    
    }


    .title_text {

        font-size: 17px;
        font-weight: 400;
        line-height: 20.4px;
        text-align: left;
        color: white;

        padding-bottom: 5px;
        }


    .title_text {

        font-size: 17px;
        font-weight: 400;
        line-height: 20.4px;
        text-align: left;
        color: white;

        padding-bottom: 5px;
        }        

.ct {
    width: 512px;


}

.ct_m {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 50px;

}

.child_text {

    padding-top: 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.4px;
    text-align: left;
    color: white;

    padding-bottom: 5px;
}

.flex_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_child {
    padding-bottom: 40px;
}

.img_pa {
    height: 60%;
}

