<div class="main">
    <div nz-row class="title_text" [nzGutter]="[60,60]">
        <div nz-col nzLg="16">
            <div class="title">{{"service.title" | translate}}</div>
            <div class="title_main">{{"service.h" | translate}}</div>
        </div>
        <div nz-col nzLg="8" class="title_btn w100" nz-flex [nzJustify]="'flex-end'">
            <button class="btn" (click)="change()">{{"button.more" | translate}}</button>
        </div>
    </div>

    @defer (on viewport) {
        <div nz-row [nzGutter]="[0,60]" class="content">


            <div nz-row [nzGutter]="[60, 60]" class="main_content w100">
                @for (item of service; track $index) {
                <div nz-col nzLg="8">
                  <div class="card" >
                    <div class="count_tt">{{ "0" + ($index + 1) }}</div>
                    <div (click)="changeToProject(item.id)" style="padding-bottom: 25px;"><img src="/assest/icon/t.svg"> </div>
                    <div class="icon_text">{{ item.name }}</div>
                    <div class="text_content">{{ item.title }}</div>
                  </div>
                </div>
                }
              </div>

            <!-- @for (item of service; track $index) {
                <div nz-col nzLg="12" nzMd="12" nzXs="24" nzSm="24" (click)="changeToProject(item.id)">
                    <div class="icon_content c1" nz-flex [nzAlign]="'center'" [nzGap]="'15px'">
                        <img [src]="item.icon">
                        <div class="icon_text">{{item.title}}</div>
                    </div>
                    <div class="text_content k1">
                        {{item.des}}
                    </div>
                </div>
            } -->
        </div>
    } @placeholder {
        <p></p>
    }

</div>
