<div class="main">
    <div class="main_container">
        <!-- <div class="logos">
            <div class="logos-slide">
              <img src="assest/logos/Logo Client 8.svg" />
              <img src="assest/logos/Logo Client 6.svg" />
              <img src="assest/logos/Logo Client 4.svg" />
              <img src="assest/logos/Logo Client 2.svg" />
            </div>
            <div class="logos-slide">
                <img src="assest/logos/Logo Client 8.svg" />
                <img src="assest/logos/Logo Client 6.svg" />
                <img src="assest/logos/Logo Client 4.svg" />
                <img src="assest/logos/Logo Client 2.svg" />
              </div>
              <div class="logos-slide">
                <img src="assest/logos/Logo Client 8.svg" />
                <img src="assest/logos/Logo Client 6.svg" />
                <img src="assest/logos/Logo Client 4.svg" />
                <img src="assest/logos/Logo Client 2.svg" />
              </div>
          </div>
     -->
          <div class="logos">
            <div class="logos-slide">
              <img src="assest/logos/cgv.png" />
              <img src="assest/logos/vietjet.png" />
              <img src="assest/logos/pms.png" />
              <img src="assest/logos/vina.png" />
            </div>
            <div class="logos-slide">
              <img src="assest/logos/cgv.png" />
              <img src="assest/logos/vietjet.png" />
              <img src="assest/logos/pms.png" />
              <img src="assest/logos/vina.png" />
              </div>
              <div class="logos-slide">
                <img src="assest/logos/cgv.png" />
                <img src="assest/logos/vietjet.png" />
                <img src="assest/logos/pms.png" />
                <img src="assest/logos/vina.png" />
              </div>
          </div>
    </div>

</div>
