<div>
  <nz-layout class="container">
    <nz-layout>
      <nz-content class="content_menu menu_main">
        <nz-list nzBordered>
            @for (item of menu; track item) {
              <nz-list-item (click)="changePage(item)">
                <span nz-typography [class]="curUrl == item.url ? 'title_menu_check w100' : 'title_menu w100'">{{ item.title | translate }}</span>
              </nz-list-item>
            }
          </nz-list>
      </nz-content>
      <nz-footer class="content_menu menu_main">
        <div class="icon">
          <span  nz-icon nzType="tik-tok" nzTheme="fill" (click)="goToLink('https://www.tiktok.com/@looneyesstudio?_t=8pStyK7j2ri&_r=1')"></span>
          <span nz-icon nzType="facebook" nzTheme="fill" (click)="goToLink('https://www.facebook.com/profile.php?id=61556622513919')"></span>
          <span nz-icon nzType="youtube" nzTheme="fill" (click)="goToLink('https://www.youtube.com/@LoonEyesStudio.162')"></span>
        </div>

      </nz-footer>
    </nz-layout>
    <nz-sider class="content_menu ">
        <div class="link h100">
            <div  class="radio">
                <!-- <nz-radio-group [(ngModel)]="radioValue" class="radio">
                    @for (item of menu; track item) {
                        <label nz-radio [nzValue]="$index"></label>
                    }
                  </nz-radio-group> -->
                  <!-- @for (item of menu; track item) {
                    <div class="menu_icon" [class]="curUrl == item.url ? 'menu_icon menu_icon_selected' : 'menu_icon'"></div>
                } -->
            </div>
    
            <div class="radio">
                <span class="link_text" (click)="changeTo('/intro')">{{'menu.intro' | translate | uppercase}}</span>
                <span class="link_text" (click)="changeTo('/team', 'app-our-team')">TEAM</span>
                <span class="link_text" >{{'menu.hr' | translate | uppercase}}</span>
                <span class="link_text" (click)="changeTo('/contact')">{{'menu.contact' | translate | uppercase}}</span>
                <span class="link_text" (click)="changeToAdm()">Admin</span>
            </div>
        </div>

    </nz-sider>

  </nz-layout>
  <div class="main_logo">
    <div class="logos">
      <div class="logos-slide">
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
      </div>

      <div class="logos-slide">
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
        <div class="img">
          <img src="assest/image/ab1.png" />
          <img src="assest/image/ab2.png" />
        </div>
      </div>
    </div>
  </div>
</div>


