<div class="main">
    <div class="main_content" nz-row>
        <div class="video" nz-col nzXXl="12" nzXl="12">

        </div>
        <div class="about_me" nz-col nzXXl="12" nzXl="12">

        </div>
    </div>
    <div class="main_logo">
        <!-- @for (item of logo; track item) {
            
        } -->
        <div class="logos">
            <div class="logos-slide">
              <img src="assest/logos/3m.svg" />
              <img src="assest/logos/barstool-store.svg" />
              <img src="assest/logos/budweiser.svg" />
              <img src="assest/logos/buzzfeed.svg" />
              <img src="assest/logos/forbes.svg" />
              <img src="assest/logos/macys.svg" />
              <img src="assest/logos/menshealth.svg" />
              <img src="assest/logos/mrbeast.svg" />
            </div>
            <div class="logos-slide">
                <img src="assest/logos/3m.svg" />
                <img src="assest/logos/barstool-store.svg" />
                <img src="assest/logos/budweiser.svg" />
                <img src="assest/logos/buzzfeed.svg" />
                <img src="assest/logos/forbes.svg" />
                <img src="assest/logos/macys.svg" />
                <img src="assest/logos/menshealth.svg" />
                <img src="assest/logos/mrbeast.svg" />
              </div>
          </div>
    </div>
</div>
