<div nz-row [nzGutter]="[32, 50]" class="main content-card title_text">
  <div nz-col nzLg="16">
    <div class="content">
      <div class="title">{{"app.title" | translate}}</div>
      <div class="title_main">{{"app.h" | translate}}</div>
    </div>
  </div>
  <div nz-col nzLg="8"></div>
  @for (item of cus; track $index) {
    <div nz-col nzLg="8" >
      <div class="f w100 h100">
        <div class="cus w100 h100">
        <ng-container *ngTemplateOutlet="mainTemplate; context: {item : item}"></ng-container>
      </div>
      </div>
    </div>
  }

</div>

<ng-template #mainTemplate let-item="item">
  <nz-card nzHoverable [nzCover]="coverTemplate" class="card w100 h100">
    <ng-template #coverTemplate>
      <div class="cus_main h100">
        <div>
          <nz-avatar
          [nzGap]="10"
  
            [nzSize]="'large'"
            nzIcon="user"
            [nzSrc]="item.cusImg"
          ></nz-avatar>
        </div>
        <div class="cus_content">
          <div class="cus_title">{{item.title}}</div>
          <div class="cus_text">
            {{item.content}}
          </div>
        </div>
      </div>
      <div class="cus_footer">
        <div class="cus_name">
          {{item.cusName}}
        </div>
        <div class="cus_cp">
          {{item.job}}
        </div>
      </div>
    </ng-template>
  </nz-card>
</ng-template>


