<div class="star">
    <img class="star1 absolute hero-star" src="/assest/image/bg-star.png" >
  </div>
  <div>
    <img src="/assest/image/1.gif" alt="this slowpoke moves"  width="250">
</div>

<!-- [2, 32, 227, 12]

<div>
    <div id="hero-content" class="absolute top-[137px] ai-dt:top-[104px] left-0" style="z-index:100;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        [2, 32, 227, 12]    style="left: 2%; bottom: 32%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 227s, 12s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        [156, 27, 265, 4] style="left: 156%; bottom: 27%; width: 18px; height: 18px; animation-name: star-move, star-loop; 
        animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 265s, 4s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 16%; bottom: 15%; width: 18px; height: 18px; animation-name: star-move, star-loop; 
        animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 123s, 8s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 86%; bottom: 6%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 82s, 9s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 9%; bottom: 66%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 222s, 5s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 151%; bottom: 83%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 301s, 8s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 15%; bottom: 26%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 228s, 8s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 143%; bottom: 36%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 352s, 10s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 17%; bottom: 44%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 225s, 10s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 95%; bottom: 13%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 219s, 10s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 23%; bottom: 38%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 260s, 4s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 104%; bottom: 86%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 259s, 9s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 5%; bottom: 4%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 319s, 8s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 133%; bottom: 24%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 82s, 9s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 16%; bottom: 63%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 178s, 13s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 137%; bottom: 56%; width: 18px; height: 18px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 152s, 10s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 25%; bottom: 48%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 199s, 13s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 149%; bottom: 50%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 270s, 12s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 19%; bottom: 83%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 252s, 10s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 107%; bottom: 95%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 357s, 11s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 9%; bottom: 53%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 221s, 11s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 132%; bottom: 38%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 125s, 9s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 9%; bottom: 34%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 238s, 5s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 137%; bottom: 62%; width: 24px; height: 24px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 176s, 10s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 23%; bottom: 38%; width: 30px; height: 30px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 89s, 6s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 144%; bottom: 41%; width: 30px; height: 30px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 86s, 7s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 5%; bottom: 77%; width: 30px; height: 30px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 173s, 5s; z-index: 90;">
        <img class="star absolute hero-star" src="/assest/image/bg-star.png" 
        style="left: 88%; bottom: 3%; width: 30px; height: 30px; animation-name: star-move, star-loop; animation-iteration-count: infinite, infinite; animation-timing-function: linear, linear; animation-duration: 155s, 10s; z-index: 90;"></div>
  </div> -->