[nz-carousel-content] {
    text-align: center;
    height: 100%;
    color: #fff;
  }

  .content-card {

  }

  h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
  }

  ::ng-deep .ant-carousel .slick-list .slick-slide.slick-active {
    height: 100% !important;
  }

  ::ng-deep .slick-list {
    height: 100% !important;
  }

  ::ng-deep .slick-track {
    height: 100% !important;
  }

  .image_our {
border-radius: 30px;
overflow: hidden;
width: 100%;
    height: 386px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

  }

