<div class="info" nz-row>
    <div nz-col nzLg="6" nzMd="12" nzSm="24" class="info_content">
      <span class="info_content_number" [countUp]="viewInfo[0].number" [duration]="5000"></span>
      <span class="info_content_title">{{viewInfo[0].title | translate}}</span>
    </div>
    <div nz-col nzLg="6" nzMd="12" nzSm="24" class="info_content">
      <span class="info_content_number">{{viewInfo[1].number}}</span>
      <span class="info_content_title">{{viewInfo[1].title | translate}}</span>
    </div>
    <div nz-col nzLg="6" nzMd="12" nzSm="24" class="info_content">
      <span class="info_content_number">{{viewInfo[2].number}}</span>
      <span class="info_content_title">{{viewInfo[2].title | translate}}</span>
    </div>
    <div nz-col nzLg="6" nzMd="12" nzSm="24" class="info_content">
      <span class="info_content_number" [countUp]="viewInfo[3].number" [duration]="5000"></span>
      <span class="info_content_title">{{viewInfo[3].title | translate}}</span>
    </div>
  </div>