.info {
    background-image: url('/assest/image/bg1.png');
    padding: 56px 150px;
}

.info_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_content_number {
font-family: Sora;
font-size: 56px;
font-weight: 600;
line-height: 84px;
text-align: center;
color: #3665F9;
}

.info_content_title {
    font-family: Sora;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #CDCDCD;

    }

