::ng-deep {
    textarea.ant-input {
        min-height: 100vh !important;
    }
}

.d {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.flexx {
    display: flex;
    justify-items: center;
    margin-bottom: 50px;
    column-gap: 30px;
}