

<nz-affix [nzOffsetTop]="0" class="affm">
  <div style="z-index: 100;">
    <img class="logo_main" src="/assest/image/logo.png" (click)="changeTo()">
  </div>

  <div class="menu" >
  
    <div class="wrapper">
        <img src="/assest/image/menu.png" (click)="openMenu()">
        <nz-button-group>
          <button nz-button nzType="primary">
            <span nz-icon nzType="global"></span>
          </button>
          <button nzType="primary" nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomCenter">
            {{translate.currentLang | uppercase}} <span nz-icon nzType="caret-down" nzTheme="outline"></span></button>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              @for (lang of translate.getLangs(); track $index) {
                <li nz-menu-item (click)="changeLang(lang)">{{ lang | uppercase }} </li>
              }
  
            </ul>
          </nz-dropdown-menu>
        </nz-button-group>

    
      </div>
</div>

</nz-affix>
<div class="app bg">
    <router-outlet></router-outlet>
    @defer (on viewport) {
      <app-footer id="app-footer"></app-footer>
    } @placeholder {
      <p id="app-customer"></p>
    }
</div>

<nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      [nzWidth]="'100%'"
      [nzHeight]="'100%'"
      nzPlacement="right"
      [nzTitle]="tplTitle"
      (nzOnClose)="close()"
    >
      <ng-container *nzDrawerContent>
        <app-menu></app-menu>
      </ng-container>
    </nz-drawer>

    <ng-template #tplTitle>
    <div class="menu_title">
      <img class='img_menu_1' src='/assest/image/logo.png'>
      <span class="icon_menu" nz-icon nzType="close" nzTheme="outline" (click)="close()"></span>
    </div>  
     
    </ng-template>