<div class="main">
    <div class="main_container">
        <div class="logos">
            <div class="logos-slide">
              <img src="assest/logos/Logo Client 8.svg" />
              <img src="assest/logos/Logo Client 6.svg" />
              <img src="assest/logos/Logo Client 4.svg" />
              <img src="assest/logos/Logo Client 2.svg" />
            </div>
            <div class="logos-slide">
                <img src="assest/logos/Logo Client 8.svg" />
                <img src="assest/logos/Logo Client 6.svg" />
                <img src="assest/logos/Logo Client 4.svg" />
                <img src="assest/logos/Logo Client 2.svg" />
              </div>
          </div>
    
          <div class="logos">
            <div class="logos-slide">
              <img src="assest/logos/Logo Client 7.svg" />
              <img src="assest/logos/Logo Client 5.svg" />
              <img src="assest/logos/Logo Client 3.svg" />
              <img src="assest/logos/Logo Client 1.svg" />
            </div>
            <div class="logos-slide">
                <img src="assest/logos/Logo Client 7.svg" />
                <img src="assest/logos/Logo Client 5.svg" />
                <img src="assest/logos/Logo Client 3.svg" />
                <img src="assest/logos/Logo Client 1.svg" />
              </div>
          </div>
    </div>

</div>
