<div class="h">
    <app-header></app-header>
  
    @defer (on viewport) {
      <app-about-me></app-about-me>
    } @placeholder {
      <p></p>
    }
  
    @defer (on viewport) {
      <app-logo></app-logo>
    } @placeholder {
      <p></p>
    }
  
    @defer (on viewport) {
      <app-service></app-service>
    } @placeholder {
      <p></p>
    }
  
  
    @defer (on viewport) {
      <app-project></app-project>
    } @placeholder {
      <p></p>
    }


    @defer (on viewport) {
      <app-our-team></app-our-team>
    } @placeholder {
      <p></p>
    }
  
  
  </div>
  
  