




.h {
    overflow: hidden;
  }


  .logo1 {
    position: absolute;
        top: 0px;
        left: 5%;
        z-index: 99;
    }
  
  
  .menu_achor {
    position: absolute;
  }
  
  
  .star1 {
      left: 2%; 
      bottom: 32%; 
      width: 18px; 
      height: 18px; 
      animation-name: star-move, star-loop; 
      animation-iteration-count: infinite, 
      infinite; 
      animation-timing-function: linear, linear; 
      animation-duration: 227s, 12s; 
      z-index: 90;
  }
  
  
  
  