
.main {
    background: black;
}
.title {
    font-family: Sora;
    font-size: 48px;
    font-weight: 600;
    line-height: 67.2px;
    text-align: left;
    color: #3665F9;

  }

  ::ng-deep .ant-layout-header {
    height: fit-content !important;
    background: inherit 
  }

  ::ng-deep .ant-menu-item-selected {
    color: #3665F9 !important;
    background-color: inherit !important;
  }

  ::ng-deep .ant-menu {
    background: inherit !important;
  }

  ::ng-deep .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background-color: inherit;
    color: #3665F9 !important;
  }

  .header-menu {

  }

  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    min-height: 280px;
    background: black;
  }

  .img {
    width: 560px;
height: 665px;
top: 1910px;
left: 730px;
gap: 0px;
opacity: 0px;
background: #959595;

  }


.arr {
  padding-top: 12px;
  width: 560px;
  border-bottom: 2px solid #959595
}

.title {
  font-family: Sora;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.8px;
  text-align: left;
color: white;
padding: 12px;

}

.title:hover {
color: #3665F9;

}

.flex_row:hover .title {
  color: #3665F9;
}

.tag {
  color: white;
}

::ng-deep .ant-tag {
  color: white !important;
}