[nz-carousel-content] {
  text-align: center;
  height: 515px;
  color: #fff;
}

.content-card {
  height: 800px;
}


h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}


.image_our {
  border-radius: 30px;
  overflow: hidden;
  background-size: 100% !important;
  width: 100%;
  margin-bottom: 20px;
}

.img_inner {
  width: 100%;
  height: 100%;
}

.our {
  padding: 100px;
}


