<div class="main w100 h100">
    <div class="main_content" nz-row [nzGutter]="16">
        <div class="video" nz-col nzXXl="12" nzXl="12">
          <div class="inner_video">
            <video width="100%" height="100%" controls>
              <source src="https://firebasestorage.googleapis.com/v0/b/app-drone-da32e.appspot.com/o/intro%2FDrone_INTRO.mp4?alt=media&token=9710d4e7-39fb-47ed-a349-abaefaa573c4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="about_me" nz-col nzXXl="12" nzXl="12">
            <div class="about_me_header">
                <span class="about_me_header1 header ">Về chúng tôi</span>
                <span class="about_me_header2 header">LoonEyes studio</span>
                <span class="about_me_header3 transform">Công ty LoonEyes Studio thành lập năm 2022 hoạt động chính trong 3 mảng drone - công nghệ - sản xuất film và games. Hiện tại đang đẩy mạnh phát triển mảng Drone thực hiện rất nhiều các dự án mang tính lịch sử, văn hoá và biểu tượng. </span>
                <span class="about_me_header3 transform">Đơn vị tiên phong trong đầu tư và ứng dụng các công nghệ tiên tiến của máy bay không người lái ( Drone ) vào quảng cáo và truyền thông</span>
            </div>
            <div class="about_me_content">
                <div class="about_me_content_row transform">
                    <img src="assest/image/logo_ab.png" class="about_me_content_icon">
                    <div class="about_me_content_text">Sở hữu số lượng thiết bị lớn nhất mặt tại Việt Nam</div>
                </div>
                <!-- <nz-divider></nz-divider> -->
                <div class="about_me_content_row transform">
                    <img src="assest/image/logo_ab.png" class="about_me_content_icon">
                    <div class="about_me_content_text">Công nghệ tiên tiến nhất trong lĩnh vực Drone</div>
                </div>
                <!-- <nz-divider></nz-divider> -->
                <div class="about_me_content_row transform">
                    <img src="assest/image/logo_ab.png" class="about_me_content_icon">
                    <div class="about_me_content_text">Đội ngũ nhân sự giàu kinh nghiệm</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="main_logo">
    <div class="logos">
        <div class="logos-slide">
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
        </div>

        <div class="logos-slide">
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
          </div>
</div> -->


