<div class="main w100 h100">
    <div class="main_content" nz-row [nzGutter]="16">
        <div class="video" nz-col nzXXl="12" nzXl="12">
          <div class="inner_video">
            <app-yt-player [videoID]="id"></app-yt-player>
          </div>
        </div>
        <div class="about_me" nz-col nzXXl="12" nzXl="12">
            <div class="about_me_header">
                <span class="about_me_header1 header ">Về chúng tôi</span>
                <span class="about_me_header2 header">LoonEyes studio</span>
                <span class="about_me_header3 transform">Đơn vị tiên phong trong đầu tư và ứng dụng các công nghệ tiên tiến của máy bay không người lái ( Drone ) vào quảng cáo và truyền thông</span>
            </div>
            <div class="about_me_content">
                <div class="about_me_content_row transform">
                    <img src="assest/image/logo_ab.png" class="about_me_content_icon">
                    <div class="about_me_content_text">Sở hữu số lượng thiết bị lớn nhất mặt tại Việt Nam</div>
                </div>
                <!-- <nz-divider></nz-divider> -->
                <div class="about_me_content_row transform">
                    <img src="assest/image/logo_ab.png" class="about_me_content_icon">
                    <div class="about_me_content_text">Công nghệ tiên tiến nhất trong lĩnh vực Drone</div>
                </div>
                <!-- <nz-divider></nz-divider> -->
                <div class="about_me_content_row transform">
                    <img src="assest/image/logo_ab.png" class="about_me_content_icon">
                    <div class="about_me_content_text">Đội ngũ nhân sự giàu kinh nghiệm</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="main_logo">
    <div class="logos">
        <div class="logos-slide">
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
          <div class="img">
            <img src="assest/image/ab1.png" />
            <img src="assest/image/ab2.png" />
          </div>
        </div>

        <div class="logos-slide">
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
            <div class="img">
              <img src="assest/image/ab1.png" />
              <img src="assest/image/ab2.png" />
            </div>
          </div>
</div> -->


