<div class="container">
  <!-- <div nz-row>
        <div     nz-col nzLg="8">
            <img src="/assest/image/logo.png">
          </div>
    
        <div nz-col nzLg="16" class="w100" nz-flex [nzJustify]="'flex-end'">
         <img src="/assest/image/menu.png">
        </div>  
     </div> -->
<!-- 
  <nz-affix [nzOffsetTop]="10">
    <div class="aff_c w100">
        <div class="aff">
            <div (click)="changeTo()">
              <img src="/assest/image/logo.png" />
            </div>
      
            <div class="menu" (click)="openMenu()">
              <div class="wrapper">
                <img src="/assest/image/menu.png" />
              </div>
            </div>
          </div>
    </div>

  </nz-affix> -->

  <video width="100%" height="100%" controls>
    <source src="https://firebasestorage.googleapis.com/v0/b/app-drone-da32e.appspot.com/o/intro%2FDrone_INTRO.mp4?alt=media&token=9710d4e7-39fb-47ed-a349-abaefaa573c4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="main">
    <div class="it_title">{{'ab.title' | translate | uppercase}}</div>
    
    <div class="it_text">
      {{'ab.h2' | translate}}
    </div>

    <div class="button">
      <button class="drone_button" (click)="changeToContact()">
        {{'button.start' | translate}}
        <span nz-icon nzType="arrow-right" nzTheme="outline"></span>
      </button>
    </div>

    <div nz-row [nzGutter]="[60, 60]" class="main_content">
      @for (item of intro; track $index) {
      <div nz-col nzLg="8">
        <div class="card">
          <div class="count_tt">{{ "0" + ($index + 1) }}</div>
          <div class="icon_text">{{ item.title }}</div>
          <div class="text_content">{{ item.text }}</div>
        </div>
      </div>
      }
    </div>
  </div>


  <app-logo id="app-about-me" class="scrollable"></app-logo>
  <app-our-team id="app-our-team" class="scrollable"></app-our-team>


  <!-- @defer (on viewport) {
  <app-logo id="app-about-me" class="scrollable"></app-logo>
  } @placeholder {
  <p></p>
  } @defer (on viewport) {
  <app-our-team id="app-our-team" class="scrollable"></app-our-team>
  } @placeholder {
  <p></p>
  } -->
   @defer (on viewport) {
  <app-start id="app-start" class="scrollable"></app-start>
  } @placeholder {
  <p></p>
  } @defer (on viewport) {
  <app-customer id="app-customer" class="scrollable"></app-customer>
  } @placeholder {
  <p></p>
  }
</div>
