

.header {
    display: flex;
    justify-content: center;  
    flex-direction:column;
}



.header-bg {
    transform: translate(0%, -70%);
}

.background {

    /* background-image: url('/assest/image/bgLast.webp'); */
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 100vh;
    padding-bottom: 50px;
    margin-bottom: 1px;
}

.background_df {
    background: linear-gradient(90deg, #02103e -11.36%, #031F76 104.55%);
}

.background_fc {
    background-image: url('/assest/image/bgLast.webp');
}

.home_img {
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: clip;
    z-index: 99;
    background-image: url('/assest/image/bgLast.webp');
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.AiEndBg-exit-done {
    width: 100%;
    height: 100%;
    
}

.bg_default {
    opacity: .2;
}

.bg_choose {
    opacity: .7;
}


.bg {
    /* this is needed or the background will be offset by a few pixels at the top */
    background: black;
    overflow: hidden;
  }


.home_img_child {
    width: 1549px;
    height: 1461px;
    top: -761px;
    z-index: 4;
  flex-shrink: 0;
  border-radius: 100%;
  opacity: 0.4;
  mix-blend-mode: luminosity;
  border: 1px solid #FFF;
  rotate: 180deg;
  background: radial-gradient(60.42% 60.42% at 50.02% 60.42%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 69.42%, rgba(255, 255, 255, 0.08) 75.33%, rgba(255, 255, 255, 0.13) 80.42%, rgba(255, 255, 255, 0.31) 86.39%, rgba(255, 255, 255, 0.57) 92.19%, #FFF 100%);
  box-shadow: 0px -20px 40px 0px rgba(255, 255, 255, 0.60);
  position: absolute;
  z-index: 99;
}

@media screen and (max-width: 3000px), (min-width: 3000px) {
  .home_img_child {
    width: 2549px;
    height: 2261px;
    top: -1000px;
  }

  .drone {
    top: 500px;
  }
}


@media only screen and (max-width: 2500px) {
  .home_img_child {
    width: 2049px;
    height: 1861px;
    top: -900px;
  }
  .drone {
    top: 450px;
  }
}

@media only screen and (max-width: 2000px) {
  .home_img_child {
    width: 1749px;
    height: 1561px;
    top: -800px;
  }
  .drone {
    top: 400px;
  }
}


@media only screen and (max-width: 1600px) {
  .home_img_child {
    width: 1449px;
    height: 1361px;
    top: -750px;
  }
  .drone {
    top: 350px;
  }
}

@media only screen and (max-width: 1200px) {
  .home_img_child {
    width: 1100px;
    height: 1000px;
    top: -500px;
  }

  .drone {
    top: 250px;
  }
}

@media only screen and (max-width: 1000px) {
  .home_img_child {
    width: 900px;
    height: 800px;
    top: -400px;
  }

  .drone {
    top: 200px;
  }
}

.star {
    position: absolute;
    left: 2%;
    bottom: 50%;
    animation-name: star-move, star-loop;
    animation-iteration-count: infinite, infinite;
    animation-timing-function: linear, linear;
    animation-duration: 227s, 12s;
    z-index: 90;
}

.star-img {
}

@keyframes star-move {
    0% {
        transform: translate(0px, 10px);
    }
    50% {
        transform: translate(0px, 20px);
    }
    100% {
        transform: translateY(0px, 30px);
    }
}


@keyframes star-loop {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.wrapper {
    width: 240px;
  }

 
  .menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99;
  }



  .menu_title:hover .menu_icon {
    box-shadow: #40a9ff 0px 0px 15px 0px, #096dd9 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .menu_title {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  ::ng-deep .ant-menu  {
    background:none !important;

  }

  ::ng-deep .ant-menu-item-selected {
    background: none !important;
  }

  ::ng-deep .ant-menu-vertical {
    border: none !important;
  }

  ::ng-deep .ant-menu-inline {
    border: none !important;
  }

::ng-deep  .ant-menu-item::after {
    border: none !important;
}



.drone {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.drone_img {
    transform: scale(2);
    z-index: 99;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_header {
    color: #CDCDCD;
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
letter-spacing: 0.05em;
text-align: center;
}

.content_title {
    color: #F8F8F8;
    font-size: 48px;
    font-weight: 600;
    line-height: 67.2px;
    text-align: center;
}

.content_main {
    width: 50%;
    color: #CDCDCD;
    font-family: Sora;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    
}

@media (min-width: 640px) {
    .ai-sm\:bottom-\[473px\] {
      bottom: 473px;
    }
  }
  @media (min-width: 440px) {
    .ai-xs\:w-\[1549px\] {
      width: 1549px;
    }
  }
  @media (min-width: 440px) {
    .ai-xs\:h-\[1461px\] {
      height: 1461px;
    }
  }
  @media (min-width: 360px) {
    .ai-sssm\:bottom-\[738px\] {
      bottom: 738px;
    }
  }
  .border, .border-\[1px\] {
    border-width: 1px;
  }
  .w-\[520px\] {
    width: 520px;
  }
  .h-\[520px\] {
    height: 520px;
  }
  .bottom-\[989px\] {
    bottom: 989px;
  }
  .absolute {
    position: absolute;
  }
  @media (min-width: 640px) {
    .ai-sm\:bottom-\[473px\] {
      bottom: 473px;
    }
  }
  @media (min-width: 440px) {
    .ai-xs\:w-\[1549px\] {
      width: 1549px;
    }
  }
  @media (min-width: 440px) {
    .ai-xs\:h-\[1461px\] {
      height: 1461px;
    }
  }
  @media (min-width: 360px) {
    .ai-sssm\:bottom-\[738px\] {
      bottom: 738px;
    }
  }






  






