
.main {
    background: black;
    ::ng-deep {
      .ant-layout-header {
          padding: 0px !important;
      }
  } 
}
.title {
    font-size: 48px;
    font-weight: 600;
    line-height: 67.2px;
    text-align: left;
    color: #3665F9;

  }

  ::ng-deep .ant-layout-header {
    height: fit-content !important;
    background: inherit 
  }

  ::ng-deep .ant-menu-item-selected {
    color: #3665F9 !important;
    background-color: inherit !important;
  }

  ::ng-deep .ant-menu {
    background: inherit !important;
  }

  ::ng-deep .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    background-color: inherit;
    color: #3665F9 !important;
  }

  .header-menu {

  }

  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    min-height: 280px;
    background: black;
  }

  .img {
width: 100%;
gap: 0px;
opacity: 0px;
background-size:     cover;                      /* <------ */
background-repeat:   no-repeat;
background-position: center center; 

  }


.arr {
  padding-top: 12px;
  width: 560px;
  border-bottom: 2px solid #959595
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 44.8px;
  text-align: left;
color: white;
padding: 12px;

}

.title:hover {
color: #3665F9;

}

.all_project:hover .title {
  color: #3665F9;
}

.tag {
  color: white;
}

::ng-deep .ant-tag {
  color: white !important;
}
.header {
  padding-top: 40px;
}

.content {
  
}

.zoom-img {
  overflow: hidden;
  
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.zoom-img .img:hover {
  overflow: hidden;
  transform: scale(1.2);
  object-fit: cover;
  transition: all .3s ease;
}

.all_project {
  display: flex;
    flex-direction: column;
}

.main_project {
  background: black;
}