<div class="main">
    <div nz-row class="title_text">
        <div nz-col nzLg="16">
            <div class="title">Dịch vụ</div>
            <div class="title_main">Loon Eyes Cung cấp</div>
        </div>
        <div nzLg="8" class="title_btn">
            <button class="btn">Xem thêm</button>
        </div>
    </div>

    @defer (on viewport) {
        <div nz-row [nzGutter]="[60,60]" class="content">
            <div nz-col nzLg="12">
                <div class="icon_content c1" nz-flex [nzAlign]="'center'" [nzGap]="'15px'">
                    <img src="/assest/logos/service_logo (2).png">
                    <div class="icon_text">Drone  trong nhà</div>
                </div>
                <div class="text_content k1">
                    Id eleifend quis urna tellus tempor facilisis at semper ac. Interdum tortor ut ac.
                </div>
            </div>
    
            <div nz-col nzLg="12">
                <div class="icon_content c1" nz-flex [nzAlign]="'center'" [nzGap]="'15px'">
                    <img src="/assest/logos/service_logo (2).png">
                    <div class="icon_text">Drone  trong nhà</div>
                </div>
                <div class="text_content k1">
                    Id eleifend quis urna tellus tempor facilisis at semper ac. Interdum tortor ut ac.
                </div>
            </div>
            <div nz-col nzLg="12">
                <div class="icon_content c1" nz-flex [nzAlign]="'center'" [nzGap]="'15px'">
                    <img src="/assest/logos/service_logo (1).png">
                    <div class="icon_text">Drone  trong nhà</div>
                </div>
                <div class="text_content k1">
                    Id eleifend quis urna tellus tempor facilisis at semper ac. Interdum tortor ut ac.
                </div>
            </div>
            <div nz-col nzLg="12">
                <div class="icon_content c1" nz-flex [nzAlign]="'center'" [nzGap]="'15px'">
                    <img src="/assest/logos/service_logo (1).png">
                    <div class="icon_text">Drone  trong nhà</div>
                </div>
                <div class="text_content k1">
                    Id eleifend quis urna tellus tempor facilisis at semper ac. Interdum tortor ut ac.
                </div>
            </div>
        </div>
    } @placeholder {
        <p></p>
    }

</div>
