<div class="main w100">
    <div class="w100 star">
        <div class="w100 star__first" nz-row>
            <div nz-col nzSpan="16" >
                <div class="star_title">
                    <span class="star_title__title">{{"start.h" | translate}}</span>
                    <span class="star_title__text">{{"start.t" | translate}}</span>
                </div>
                
            </div>
            <div nz-col nzSpan="8">
                <div class="button star_btn w100 h100" nz-flex [nzAlign]="'center'" [nzJustify]="'center'">
                    <button class="drone_button" (click)="changeToProject()">Bắt đầu dự án <span nz-icon nzType="arrow-right" nzTheme="outline"></span></button>
                  </div>
            </div>
        </div>

        <div class="w100">
            <!-- <video autoplay muted loop class="star__image">
                <source src="/assest/image/start/0805.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
              </video> -->
            <img class="star__image"  src="/assest/image/start/start.gif">
        </div>
    </div>

</div>
